{% extends "details.html" %}
{% block r_narrative %}
{% set Group = pyfhir %}
<ul>
<li><strong>resourceType</strong>: Group/resource_type</li>
<!--{%raw%} <li><strong>identifier</strong>: <ul>
{% if Group.identifier %}
{% for i in Group.identifier %}
<li><strong>system</strong>: {{Group.identifier[i].system}}</li>
<li><strong>value</strong>: {{Group.identifier[i].value}}</li>
</ul>
{% endfor %}
{% endif %}
</li>
{%endraw%}
<li><strong>actual</strong>: {{Group.actual}}</li>
<li><strong>type</strong>: {{Group.type}}</li>
<li><strong>active</strong>: {{Group.active}}</li>
-->
<li><strong>id</strong>: {{Group.id}}</li>
<li><strong>name</strong>: {{Group.name}}</li>
<li><strong>quantity</strong>: {{Group.quantity}}</li>
<li><strong>managingEntity</strong>: <ul>
<li><strong>reference</strong>: {{Group.managingEntity.reference}}</li>
<li><strong>display</strong>: {{Group.managingEntity.display}}</li>
</ul>
</li>
<!--
</ul>
-->

{% if Group.characteristic %}
  <li><strong>characteristic</strong>: <ul>
  {% for i in Group.characteristic %}
    <li><strong>code</strong>: {{i.code.coding[0].code}}</li>
    <li><strong>valueReference</strong>: {{i.valueReference.reference}}</li>
    {% endfor %}
{% endif %}
</ul>
</li>

{% if Group.member %}
<h5><strong>PATIENTS:</strong><h5>
 <table  class="table table-striped table-bordered">
 <thead>
 <tr>
 <th>Patient</th>
 <th>id</th>
 </tr>
 </thead>
 <tbody>
    {% for i in Group.member %}
 <tr>
 <td>{{i.entity.display}}</td>
 <td>{{i.entity.reference}}</td>
 </tr>
 {% endfor %}
 </tbody>
 </table>
<!--{%raw%}
<li><strong>period</strong>:
<ul>
<li><strong>start</strong>: {{i.period.start}}</li>
</ul>
</li>
{%endraw%}
-->
{% endif %}

{% endblock %}
