{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h4>Current date/time: {{ current_time | datetimefilter }}</h4>{% if title == 'Index' %}
  <img alt="patient lists" class="img-responsive" src="{{url_for('static', filename='images/Picture1.png')}}">{% endif %}
  <div>{{my_intro | markdown | safe }}</div>
  {% include "seq_diagram.html" %}
  {% if my_string %}<div>{{my_string | markdown | safe }}</div>{% endif %}
  {% block details %}{% endblock %}
{% endblock %}
