<table  class="table table-striped table-bordered">
<thead>
<tr>
<th>Patient</th>
{% for i in q_list %}
<th>{{i}}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for i in my_patients %}
<tr>
<td><a href="/fetch-more?qr=true&member-index={{loop.index0}}">{{i.display}}</a></td>

{% for j in i.answer_list %}
{% for k,v in j.items() %}
<td>
  {% if k.split('value')[-1] != 'Reference' %}
  {{v}}
  {% else %}
  <a href="{{session_base}}/{{v['reference']}}">{{v['reference']}}</a>
  {% endif %}
  <br/>({{k}})</td>
{% endfor %}
{% endfor %}

</tr>
{% endfor %}
</tbody>
</table>
